@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
:root {
    --vinho: #46151b;
    --amarelo: #fbde9c;
    --rosa: #ea9daf;
    --rosa2: #c0484a;
    --laranja: #f68b51;
    --branco: #ffffff;
    --preto: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/image\ \(2\).png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
  font-family: "Fugaz One", sans-serif;
  color: var(--amarelo);
  font-size: 200PX;
}

P{
    font-size: 20PX;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vinho);
    color: var(--branco);
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

button:hover{
     background-color: var(--branco);
    color: var(--vinho);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

input{
    background-color: var(--amarelo);
    border-color: var(--vinho);
    border-radius: 3px;
    width: 270px;
    height: 30px;
}

.panel-login-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--amarelo);
    height: 250px;
    width: 400px;
    gap: 20px;
    border-radius: 20px;
}

.button-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}



